.wrapper
.side-content
  .side-content__header
    .side-content__header--name
      %h5 TEST
    .side-content__header--icon
      %i.fa.fa-edit
      %i.fa.fa-cog

  .side-content__groups
    .groups-member
      .groups-member--name
        %h2 TEST1
      .groups-member--new
        %p まだメッセージがありません

    .groups-member
      .groups-member--name
        %h2 TEST2
      .groups-member--new
        %p B group

    .groups-member
      .groups-member--name
        %h2 TEST3
      .groups-member--new
        %p C group

.main-content
  .main-content__header
    .main-content__header--name
      %h2 ABCD
      %p efgh

    .main-content__header-edit-btn
      %p Edit

  .main-content__chat--contents
    .chat-message
      .chat-message--name
        %p HRJ
      .chat-message--time
        %P 2019-02-02
      .chat-message--comment
        %P NOP
    .chat-message
      .chat-message--name
        %p QRS
      .chat-message--time
        %P 2020-01-01
      .chat-message--comment
        %P TUV
    .chat-message
      .chat-message--name
        %p WXY
      .chat-message--time
        %P 2021-04-04
      .chat-message--comment
        %P ZAB

  .main-content__form
    .input-box
      .input-box--text
        %placeholder="type a message"
        .input-box--image
          %i.fa.fa-picture-o
      .input-box--submit
        Send
