.chat-group-user.clearfix#chat-group-user
  %p.chat-group-user__name
    = user.name
    = hidden_field_tag('group[user_ids][]', user.id)
  %a.user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn 削除