.side-bar {
  width: 300px;
  color: white;
  float: left;
  height: 100vh;
  .header{
    padding:  0 20px;
    height: 100px;
    background-color: $color-darkgray;
    justify-content: space-between;
    &__name{
      color: $off-white;
      font-size: 16px;
      font-weight: bold;  
      line-height: 100px;
      letter-spacing: 2px;
      float: left;
    }
    &__lists{
      color: white;
      // font-size: 16px;
      line-height: 100px;
      float: right; 
      // justify-content: space-between;
      li{
        float:right;
        font-size: 20px;
        justify-content: space-between;
      }
    }
  }
  .groups{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    .groups-member{
      margin-bottom: 40px;
        &--name{
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 5px;
          color: $off-white;
        }
        &--new{
          font-size: 11px;
          font-weight: bold;
          color: $off-white;
        }
    }
    }
}
.main-content{
  @include mixin;
  height: 100vh;
  float:left;
  &__header{
    border-bottom: solid 1px #eeeeee;
    height: 100px;
    padding: 0 40px;
  &--name{
    margin-top: 35px;
    float: left;
    h2{
      font-size: 20px;
      color: #333333;
      padding-bottom: 15px
    }
    p{
      font-size: 12px;
      color: #999999;
      padding: 0;
      margin: 0;
    }
    }
  } 
  &__header-edit-btn{
    background: #FFF;
    border: solid 1px #38aef0;
    float: right;
    margin-top: 30px;
    line-height: 40px;
    padding: 0 20px;
    position: absolute;
    right: 20px;
    p{
    margin: 0;
    padding: 0;
    color: #38aef0;
    }
  }
  &__chat--contents{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 46px 40px;
    overflow: scroll; 
    .chat-message{
    padding-bottom: 40px;
      &--name{
        display: inline-block;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
        color: black;
      }
      &--time{
        display: inline-block;
        margin-left: 10px;
        font-size: 12px;
        color: gray;
      }
      &__comment{
        font-size: 14px;
        color: black;
        clear: both;
      }
    }
  }
//   .mein-content__form {
//     position: fixed;
//     bottom: 0;
//     right: 0;
//     height: 900px;
//     width: calc(100vw - 300px);
//     background-color: #DCDCDC;


//     .input-box {
//       position: absolute;
//       background-color: $white;
//       height: 50px;
// // @@ -92,7 +92,7 @@
//       right: 155px;
//       padding-right: 10px;
//       font-size: 40px;
//       .form-message {
//       position: absolute;
//       background-color: $light-blue;
//       height: 50px;
// // @@ -106,10 +106,8 @@
//       cursor: pointer;
//       line-height: 50px;
//       text-align: center;


// //     .chat__form__btn {
// //     &__btn {
// //       position: absolute;
// //       background-color: $light-blue;
// //       height: 50px;
// // // @@ -106,10 +106,8 @@
// //       cursor: pointer;
// //       line-height: 50px;
// //       text-align: center;


// //       span {
// //         color: $white;
// //         font-size: 16px;
// //       }


// //       color: $white;
// //       font-size: 16px;
//     // }
//     // }
//     }
//   }
//   }

.main-content__form{
  position: relative;
  bottom: 0;
  left: 0;
}
.form__message{
  float:left;
}
.form__message{
  float:left;
}
.form__mask{
  float:left;
}
}